body {
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
}

li {
  list-style: none;
}

button {
  margin-top: 10px;
}

.smallFlag {
  margin: 20px 10px;
  width: 200px;
  height: auto;
  border: 1px solid #878f99;
}

.clickableElement {
  cursor: pointer;
}

.error {
  color: #fff;
  background: #cb0044;
  font-size: 14px;
  border-style: none;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: #fff;
  background: #34b233;
  font-size: 14px;
  border-style: none;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
}

.form-row {
  margin: 10px;
  display: block;
}

.form-input-label {
  width:  75px;
  margin-right: 10px;
  display: inline-block;
}

.form-td-50 {
  width:  50%;
}

.form-td-30 {
  width: 30%;
}

.form-td-20 {
  width: 20%;
}